<div class="col-md-12 px-3 pt-3 ">
  <h4 class="d-flex justify-content-between align-items-center  border-bottom pd-1">
    <h2 class="m-0"><strong>Filters</strong></h2>
    <a href="" class="link-danger">Clear All</a>
  </h4>
</div>

<div class="col-md-12 px-3 pd-1 mb-2 border-bottom">
  <h2 class="m-0"><strong>Price range</strong></h2>

  <p class="sub_title">The average nightly price is $133 </p>


  <div class="d-inline-flex">
    <div class="form-group mb-2">
      <label for="staticEmail2" class="mb-2">Min Price </label>
      <input type="text" class="form-control" id="staticEmail2" value="$0">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="mb-2">Min Price </label>
      <input type="text" class="form-control" id="inputPassword2" value="$500+" placeholder="Password">
    </div>
  </div>


</div>

<div class="col-md-12 px-3 pd-1 border-bottom">
  <h2 class="m-0"><strong>Type of place </strong></h2>
  <div class="d-flex d-inline-flex mt-2">
    <div>
      <mat-checkbox class="example-margin"></mat-checkbox>
    </div>
    <div>
      <p class="m-0 mt-2 f-16">Entire Place </p>
      <p class="m-0 sub_title">A place all to yourself</p>
    </div>
  </div>



  <div class="d-flex d-inline-flex mt-2">
    <div>
      <mat-checkbox class="example-margin"></mat-checkbox>
    </div>
    <div>
      <p class="m-0 mt-2 f-16">Private room

      </p>
      <p class="m-0 sub_title">Your own room in a home or a hotel, plus some shared common spaces.

      </p>
    </div>
  </div>



  <div class="d-flex d-inline-flex mt-2">
    <div>
      <mat-checkbox class="example-margin"></mat-checkbox>
    </div>
    <div>
      <p class="m-0 mt-2 f-16">Shared room

      </p>
      <p class="m-0 sub_title">A sleeping space and common areas that may be shared with others.

      </p>
    </div>
  </div>


</div>


<div class="col-md-12 px-3 pd-1 border-bottom pt-2">
  <h2 class="m-0"><strong>Rooms, beds, and baths

    </strong></h2>

  <div class="w-100 pt-3">
    <p>Bedrooms</p>
    <div class="d-flex d-inline-flex servay-container w-100">
      <span class="active">any</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5+</span>
    </div>
  </div>

  <div class="w-100 pt-3 ">
    <p>Bedrooms</p>
    <div class="d-flex d-inline-flex servay-container w-100">
      <span class="active">any</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5+</span>
    </div>
  </div>

  <div class="w-100 pt-3 pd-5">
    <p>Bedrooms</p>
    <div class="d-flex d-inline-flex servay-container w-100">
      <span class="active">any</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5+</span>
    </div>
  </div>


</div>

<div class="w-100 position-relative">
  <div class="col-md-12 p-2 pos-fixed-btn  border-top">
    <button class="btn btn-danger btn-danger-ana">
      Show 836 Homes
    </button>
  </div>
</div>